---
// components/SplashScreen.astro
---

<main id="mainContent" class="hidden">
  <slot />
</main>

<div 
  id="splashScreen"
  class="fixed inset-0 z-[1000] flex justify-center items-center cursor-pointer"
  style={`
    background-color: #ffc0cb; /* Mantiene el color rosa original */
    background-image:
      linear-gradient(to top right, transparent 49.5%, #e191a8 49.9%, #e191a8 50.1%, transparent 50.5%),
      linear-gradient(to bottom right, transparent 49.5%, #e191a8 49.9%, #e191a8 50.1%, transparent 50.5%),
      linear-gradient(to bottom left, transparent 49.5%, #e191a8 49.9%, #e191a8 50.1%, transparent 50.5%),
      linear-gradient(to top left, transparent 49.5%, #e191a8 49.9%, #e191a8 50.1%, transparent 50.5%);
    background-size: 100% 100%; /* Asegura que el gradiente cubra todo */
    background-repeat: no-repeat; /* Evita la repetición */
  `}
>
  <img 
    src= "/Logo.png"
    alt="Logo"
    width="200"  
    height="200"
    class="max-w-[50vw] animate-pulse pointer-events-none" 
    data-tooltip="Copiado!"
  />
</div>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const splash = document.getElementById('splashScreen');
    const main = document.getElementById('mainContent');
    
    const hideSplash = () => {
      splash.style.animation = 'fadeOut 0.5s ease-out forwards';
      setTimeout(() => {
        splash.style.display = 'none';
        main.classList.remove('hidden');
      }, 650);
    };

    if(splash) {
      splash.addEventListener('click', hideSplash);
      setTimeout(hideSplash, 9000);
    }
  });
</script>